body {
    margin: 0;
    background: #000;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app {
    text-align: center;
    width: 90%;
    max-width: 400px;
    position: relative;
}

h1 {
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 40px;
    color: #888;
}

.speed-display {
    font-size: 90px;
    font-weight: bold;
    margin-bottom: 20px;
}

.unit {
    font-size: 20px;
    color: #666;
    margin-top: -10px;
}

/* ===== Вертикална газ вдясно ===== */

#speedControl {
    width: 300px;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;

    position: absolute;
    right: -200px;   /* изнесена вдясно */
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
}

/* Писта */
#speedControl::-webkit-slider-runnable-track {
    height: 25px;
    background: #333;
    border-radius: 15px;
}

/* Ръчка */
#speedControl::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 35px;
    height: 35px;
    background: rgba(255, 72, 0, 0.95);
    border-radius: 50%;
    margin-top: -5px;
}

#engineBtn {
    width: 100%;
    padding: 20px;
    font-size: 23px;
    border: none;
    border-radius: 10px;
    background: #0a0;
    color: white;
    border: 1px solid #0f0;
    transition: 0.3s;
}

#engineBtn.stop {
    background: #900;
    border: 1px solid #f00;
}

#engineBtn:active {
    transform: scale(0.98);
}